{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% set classPage = 'homePage' %}

{% block content %}
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>Bienvenue sur Cinemood</h1>
                <p>Le site qui vous permet de classer et de rechercher des films selon des catégorie que vous créez !</p>
                <form method="POST" action="simpleMovieSearch" class="basicForms" >
                    {{ form.input_placeholder('search', {'placeholder' : 'rechercher un film'}) }}
                    {{ form.input_placeholder('pageQuery', {'type' : 'hidden', 'value' : '1'}) }}

                    <div class="nwl_submit_btn">
                        <button id="movieSearchBtn" class="btn btn-primary" type="submit" name="confirm_search">Search</button>
                    </div>

                </form>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <!-- ********************** Random Movies ****************** -->
            <div class="search_results row">
                <h2><strong>Dernières connections :</strong> </h2>
                {% if lastMcuConnection is iterable %}
                    {% for MCUConnection in lastMcuConnection %}
                        <div class="mcuLinkWrapp">
                            <i class="fas fa-link"></i>
                            <a href="{{ app.basepath }}movie/{{ MCUConnection.movieId }}" title="Voir la fiche Cinemood de ce film">
                                <figure class="">
                                    {% if MCUConnection.poster_path  %}
                                        <img src='http://image.tmdb.org/t/p/w154{{ MCUConnection.poster_path }}' alt="{{ MCUConnection.title }} poster">
                                    {% else %}
                                        <img style="width : 92px; height : 138px;" src='{{ app.basepath }}Public/img/no_poster.png' alt="Poster not found">
                                    {% endif %}
                                    <figcaption>{{ MCUConnection.title }}</figcaption>
                                </figure>
                            </a>
                            <a href="{{ app.basepath }}category/{{ MCUConnection.category_id }}" title="Voir la fiche Cinemood de cette catégorie">
                                <p class="categoryElt" style="background-color: {{ MCUConnection.background_color }}; color : {{ MCUConnection.font_color }} "> {{ MCUConnection.nom }}</p>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="search_results row lastCategories">
                <h2><strong>Dernières catégories créées :</strong> </h2>
                {% if lastCategories is iterable %}
                    {% for category in lastCategories %}
                        <a href="{{ app.basepath }}category/{{ category.id }}" title="Voir la fiche Cinemood de cette catégorie">
                            <p class="categoryElt" style="background-color: {{ category.backgroundColor }}; color : {{ category.fontColor }} "> {{ category.nom }}</p>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="search_results row">
                <h2><strong>Random Movies :</strong> Connaissez-vous ces films? Classez-les !</h2>
                {% for movie in randMovies %}
                    <a href="{{ app.basepath }}movie/{{ movie.id }}" class="text-center">
                        <figure class="">
                            {% if movie.poster_path  %}
                                <img src='http://image.tmdb.org/t/p/w185{{ movie.poster_path }}' alt="{{ movies.title }} poster">
                            {% else %}
                                <img style="width : 185px; height : 278px;" src='{{ app.basepath }}Public/img/no_poster.png' alt="Poster not found">
                            {% endif %}
                            <figcaption>{{ movie.title }}</figcaption>
                        </figure>
                    </a>
                {% else %}
                    <figure class='movieElt'>
                        <img style="width : 185px; height : 278px;" src='{{ app.basepath }}Public/img/no_poster.png' alt="Poster not found">
                        <figcaption>Not Found</figcaption>
                    </figure>
                {% endfor %}
            </div>
            <hr>
        </div> <!-- /container -->
    </main>


        <!-- **************** FOOTER **************** -->

{% endblock %}

{% block javascripts %}

{% endblock %}